In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df=pd.read_csv('raw_data.csv')
df

,math score,reading score,writing score,Placement Score,placement offer count
0,72.000000,72.00,74.0,78.000,1
1,69.000000,90.00,88.0,62.125,2
2,90.000000,95.00,93.0,74.000,2
3,47.000000,57.00,77.0,78.000,1
4,52.285714,78.00,75.0,81.000,3
5,71.000000,72.25,78.0,70.000,4
6,12.000000,44.00,52.0,12.000,2
7,52.285714,65.00,67.0,49.000,1
8,5.000000,77.00,89.0,55.000,0

# Mean

In [3]:
s_values=df['math score'].sum()

In [4]:
c_values=df['math score'].count()

In [5]:
mean=s_values/c_values

In [6]:
print(mean)

52.28571422222222

# Median

In [7]:
np.sort(df['math score'])

array([ 5.      , 12.      , 47.      , 52.285714, 52.285714, 69.      ,
       71.      , 72.      , 90.      ])

In [9]:
middle_index=math.floor(c_values/2)

In [10]:
median=np.sort(df['math score'])[middle_index]

In [11]:
print(median)

52.285714

In [17]:
max_value=np.sort(df['math score'])[-1]

In [18]:
print(max_value)

90.0

In [14]:
min_value=np.sort(df['math score'])[0]
print(min_value)

5.0

In [19]:
def max_value(variable):
    return np.sort(df[variable])[-1]

In [20]:
max_value('math score')

90.0

In [ ]:
# median value using function

In [22]:
def median_value(variable):
    middle_index=math.floor(c_values/2)
    return np.sort(df[variable])[middle_index]
median_value('math score')

52.285714

In [23]:
df['math score'].std()

28.123452338370043

In [ ]:
# standard deviation using function

In [24]:
def std_dev(variable):
    lst=[]
    for i in range(c_values):
        sigma=(df[variable][i]-mean)**2
        lst.append(sigma)
    return np.sqrt(sum(lst)/c_values)

In [25]:
std_dev('math score')

26.515045145117497

In [26]:
std_dev('reading score')

24.85212792040826

In [27]:
df.describe()

,math score,reading score,writing score,Placement Score,placement offer count
count,9.000000,9.000000,9.0000,9.000000,9.000000
mean,52.285714,72.250000,77.0000,62.125000,1.777778
std,28.123452,15.698328,12.5499,21.791268,1.201850
min,5.000000,44.000000,52.0000,12.000000,0.000000
25%,47.000000,65.000000,74.0000,55.000000,1.000000
50%,52.285714,72.250000,77.0000,70.000000,2.000000
75%,71.000000,78.000000,88.0000,78.000000,2.000000
max,90.000000,95.000000,93.0000,81.000000,4.000000

In [ ]:
# variance and standard deviation

In [28]:
def variance(data,ddof=0):
    n = len(data)
    mean = sum(data) / n
    return sum((x - mean) ** 2 for x in data) / (n - ddof)

def stdev(data):
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [29]:
variance(df['math score'])

703.047619047619

In [30]:
stdev(df['math score'])

26.515045145117497

In [31]:
stdev(df['reading score'])

14.800525516195549

In [32]:
stdev(df['placement offer count'])

1.1331154474650633